*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator_container{
    max-width: 400px;
    width: 100%;
}
.calculator_screen{
    height: 100px;
    width: 100%;
    color: #fff;
    background-color: #000;
    font-size: 25px;
    font-weight: bold;
    text-align: right;
    row-gap: 5px;
    justify-content: flex-end;
    padding: 10px;  
    overflow-y: auto;
}
.calculator_screen span{

        display: block;

}
.sub_line{
    font-weight: normal;

}
.calculator_button_box{
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 98px);
}
.grid-c-2{
    grid-column: span 2;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(226, 190, 190, 0.95);
    cursor: pointer;
}
.button:hover{
    background-color: rgba(212, 124, 124, 0.95);
}

